.container{
min-width: 400px;
min-height: 200px;
width: fit-content;
border-radius: 10px;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
display: flex;
color:rgb(134 130 136 / 80%);
padding: 15px;
background-color: #fcf5f5;
box-sizing: border-box;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
}
.container span{
    font-size: 1.3rem;
    margin-bottom: 15px;
    letter-spacing: 0.05em;
}

@media screen and (width<420px){
    .container{
        min-width: 100%;
    }
}
.dates{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap:13px;
}
.dates div {
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
